#main {
    margin-top: 60px;
    padding: 20px 30px;
    transition: all 0.3s;
}

@media (max-width: 1199px) {
    #main {
        padding: 20px;
    }
}


.card {
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
}

.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.card-body {
    padding: 0 20px 20px 20px;
}

.card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
}



.breadcrumb {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    font-weight: 600;
}

.breadcrumb a {
    color: #899bbd;
    transition: 0.3s;
}

.breadcrumb a:hover {
    color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
    color: #899bbd;
}

.breadcrumb .active {
    color: #51678f;
    font-weight: 600;
}

 /* Agregados */
.button-orange {
    background-color: #ffa800; 
    border-color: #ffa800; 
    color: white; 
}
.button-orange:hover {
    background-color: #ffc551;
    border-color: #ffc551;
    color: white;
}
.card-inventory{
    object-fit: cover; /* Hace que la imagen cubra el contenedor sin distorsionarse */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho */
    height: 100%; /* Asegura que la imagen ocupe toda la altura definida */
}
.image-card-inventory {
    height: 200px; /* Fija la altura deseada */
    overflow: hidden; /* Oculta el exceso de imagen si es necesario */
  }
.icon-back{
    color: black;
}
.icon-back:hover{
    color: #ffa800;
}