/* Estilos generales */
/* Este archivo solo será para estilos que compartan toda la web */
/* 
Botones
Modales
Input 
*/

:root {
  --bg-primary-color: #10bb52;
  --bg-white: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*overflow: hidden; /* Esto previene el scroll */
}

.container-fluid {
  height: 100vh; /* Ocupa toda la ventana sin scroll */
}

.full-image {
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  width: 100%; /* Asegura que ocupe todo el ancho */
  object-fit: cover; /* Mantiene la proporción de la imagen */
}
.center-image {
  height: 60px;
  margin-top: 8%;
}

.text-column {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
