*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* home section */
.home-section{
    width: 100%;
    min-height: 100vh; /* Cambiado a min-height para ajustarse al contenido */
    padding-bottom: 100px; /* Espacio para evitar colisión con el footer */
    background-color: #F0F0F0;
}


/* navbar */
#navbar{
    background-color: #FFA800;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 2px 5px;
}
/* LINEAS SEPARADORAS - NAVBAR*/
#narbar li,.Naviniciosesion{
    border-right: 2px solid #000000;
}

#narbar li,.Navubicacion{
    border-right: 2px solid #000000;
}

#narbar li,.Navcuenta{
    border-right: 2px solid #000000;
}

@media (max-width:991px){
    #narbar li,.Naviniciosesion{
        border-right: none;
    }
    
    #narbar li,.Navubicacion{
        border-right: none;
    }
    
    #narbar li,.Navcuenta{
        border-right: none;
    }
}


/* LETRAS */
#navbar .nav-link{
    color: rgb(0, 0, 0);
    font-weight: medium;
    margin-left: 5px;
}
/* Puntero a las letras efecto */
#navbar .nav-link:hover{
    color: white;
    border-radius: 5px;
}
/* Opciones de barra*/
.dropdown li a{
    color: rgb(0, 0, 0);
}

/* Barra Busqueda */
#navbar .box{
    max-width: 700px;
    width: 100%;
}

.box .search-box{
    position: relative;
    margin: auto;
    border-radius: 25px;
}

.search-box input{
    height: 50px;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}

.search-box .icon{
    cursor: pointer;
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    background: #000000;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 25px;
}

@media (max-width:1420px){
    #navbar .nav-link .prueba{
        display: none;
    }
}

/* footer */

#footer{
    padding: 0 0 0 0;
    color: #fff;
    font-size: 14px;
    background: #FFA800;
    font-family: "Inter", sans-serif;
}

#footer .footer-top{
    padding: 30px 0 0;
    background: #FFA800;
    color: white;
}

#footer .footer-top h4{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    color: white;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li{
    padding-right: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child{
    padding: 0;
}

#footer .footer-top .footer-links ul li a{
    color: white;
    line-height: 2;
    text-decoration: none;
}


#footer .footer-top .footer-links ul li a:hover{
    border-radius: 5px;
    font-weight: bolder;
    text-decoration-line: underline;
}

#footer .copyright{
    font-weight: lighter;
    font-size: 12px;
    line-height: 1;
    /* float: left; */
}

#footer .credits{
    /*float: right; */
    font-weight: lighter;
    font-size: 12px;
}

#footer .footer-bajo a{
    color: white;
}

#footer .footer-bajo a:hover{
    border-radius: 5px;
    font-weight: bolder;
}

/* navbar-categoria */
#navbar-categoria{
    background-color: #fff;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 2px 5px;
}

#navbar-categoria .text{
    font-size: 18px;
    font-weight: bolder;
}




/* NAVBAR MENU START*/

/* Ancho fijo para el menú de categorías */
#menuLateral {
    width: 250px; /* Ancho del menú de categorías */
}

#menuLateral .offcanvas-header{
    background: #EEEDED;
    border-top: 6px solid #FFC107;
}

#menuLateral .offcanvas-header button{
    font-size: 13px;
    margin-bottom: 0px;
}

/* Ancho mayor para el submenú de empresas para mostrar 3 columnas */
#subMenu1 {
    width: 700px; /* Ancho suficiente para mostrar 3 empresas en cada fila */
}

/* Estilos generales */
.offcanvas-body ul li {
    padding: 0.5rem 0;
}

.category-link {
    display: block;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-left: 4px solid transparent;
}

.category-link:hover {
    background-color: #f0f0f0;
    border-left: 4px solid #ffa500; /* Cambia el color según tus necesidades */
}

/* OPCIONES DE EMPRESAS*/

#subMenu1 .conten_cabezera{
    background: rgb(255,168,0);
    background: linear-gradient(90deg, rgba(255,168,0,1) 0%, rgba(255,216,142,1) 100%);
    padding: 1%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 50px;
}

#subMenu1Label{
    color: white;
    font-size: 23px;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    position: relative;
    padding-left: 15%;
}

/* Ajustes para mostrar tres columnas de empresas */
.company-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Espaciado entre las columnas */
}

/* Flexbox para las empresas dentro de cada fila */
.company {
    flex: 1 1 30%; /* Ajustamos para que ocupe 30% del espacio, permitiendo tres columnas */
}

/* Estilos de la empresa */
.company h6 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 15px;
}

.company a {
    display: block;
    color: #555;
    text-decoration: none;
    margin-bottom: 0.25rem;
    font-size: 13px;
}

.company a:hover {
    color: #ffa500; /* Color de hover para enlaces */
}

@media (max-width: 768px) {
    .company {
        flex: 1 1 45%; /* Dos columnas para pantallas más pequeñas */
    }
    #subMenu1 .conten_cabezera{
        background: rgb(255,168,0);
        background: linear-gradient(90deg, rgba(255,168,0,1) 0%, rgba(255,216,142,1) 100%);
        padding: 1%;
        width: 280px;
    }
    
    #subMenu1Label{
        color: white;
        font-size: 20px;
        font-family: "Inter", sans-serif;
        font-weight: bolder;
        position: relative;
        padding-left: 10%;
    }
}

@media (max-width: 480px) {
    .company {
        flex: 1 1 100%; /* Una columna para pantallas muy pequeñas */
    }
}

/* SideBar MENU START */



#MenuStart{
    font-size: 16px;
    font-family: "Inter", sans-serif;
}


#MenuStart .menu-text{
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

@media (max-width:991px){
    #MenuStart .opcion-nav{
        font-size: 10px;
        flex-wrap:nowrap
    }
    #MenuStart .menu-text{
        font-size: 10px;
    }
} 

/* CONTENEDOR PAGO */

.payment-success-container {
    max-width: 680px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: "Inter", sans-serif;
}

.success-header {
    text-align: center;
    background-color: #3771C8;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.payment-success-container .success-header h2{
    font-weight: 700;
}

.operation-details{
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1;
}

.operation-details h3 {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 30px;
}

.operation-details .detail-item .label{
    color: #000;
    font-weight: 400;
}

.operation-details .detail-item .value{
    color: #000;
    font-weight: 530;
}

/* Flexbox para dividir izquierda y derecha */
.detail-item {
    display: flex;
    justify-content: flex-start;
    margin: 8px 0;
}

/* Estilo para el lado izquierdo (etiqueta) */
.detail-item .label {
    color: #333;
    font-weight: normal; /* Quita el estilo bold */
    width: 50%; /* Ocupa la mitad del contenedor */
    text-align: left;
}

/* Estilo para el lado derecho (valor) */
.detail-item .value {
    color: #666;
    width: 50%; /* Ocupa la otra mitad del contenedor */
    text-align: left;
    padding-left: 20px; /* Separación desde la mitad */
}

.qr-section {
    text-align: center;
    margin-top: 20px;
}

.qr-section p{
    font-weight: 530;
}

.qr-section img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.logos .logoempresa{
    width: 180px;
}

.logos img {
    width: 130px; /* Ajusta el tamaño de las imágenes */
    height: auto;
}


/* LINEA DE PASOS*/
.step-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2; /* Ensure steps are above the line */
}

.step a{
    text-decoration: none;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    z-index: 2; /* Asegura que esté sobre la línea */
}

.circle.active {
    background-color: black;
    color: white;
}

.line {
    position: absolute;
    top: 45%;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: black;
    z-index: 1; /* Línea detrás de los círculos */
}


@media only screen and (max-width: 768px) {
    .home-section{
        height: 185vh;  
    }

    .payment-success-container{
        margin-left: 10px;
        margin-right: 10px;
    }

    .operation-details .detail-item .label,
    .operation-details .detail-item .value{
        font-size: 13px;
    }

    .qr-section img {
        width: 130px;
        height: 130px;
        margin-top: 10px;
    }
    .logos img {
        width: 100px; /* Ajusta el tamaño de las imágenes */
        height: auto;
    }

    .logos .logoempresa{
        width: 140px;
    }
    
}