*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* home section */
.home-section{
    width: 100%;
    min-height: 100vh; /* Cambiado a min-height para ajustarse al contenido */
    padding-bottom: 80px; /* Espacio para evitar colisión con el footer */
    background-color: #F0F0F0;
}




/* navbar */
#navbar{
    background-color: #FFA800;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 2px 5px;
}
/* LINEAS SEPARADORAS - NAVBAR*/
#narbar li,.Naviniciosesion{
    border-right: 2px solid #000000;
}

#narbar li,.Navubicacion{
    border-right: 2px solid #000000;
}

#narbar li,.Navcuenta{
    border-right: 2px solid #000000;
}

@media (max-width:991px){
    #narbar li,.Naviniciosesion{
        border-right: none;
    }
    
    #narbar li,.Navubicacion{
        border-right: none;
    }
    
    #narbar li,.Navcuenta{
        border-right: none;
    }
}


/* LETRAS */
#navbar .nav-link{
    color: rgb(0, 0, 0);
    font-weight: medium;
    margin-left: 5px;
}
/* Puntero a las letras efecto */
#navbar .nav-link:hover{
    color: white;
    border-radius: 5px;
}
/* Opciones de barra*/
.dropdown li a{
    color: rgb(0, 0, 0);
}

/* Barra Busqueda */
#navbar .box{
    max-width: 700px;
    width: 100%;
}

.box .search-box{
    position: relative;
    margin: auto;
    border-radius: 25px;
}

.search-box input{
    height: 50px;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}

.search-box .icon{
    cursor: pointer;
    position: absolute;
    right: -2px;
    top: 0;
    width: 50px;
    background: #000000;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 25px;
}

@media (max-width:1420px){
    #navbar .nav-link .prueba{
        display: none;
    }
}

/* footer */

#footer{
    padding: 0 0 0 0;
    color: #fff;
    font-size: 14px;
    background: #FFA800;
    font-family: "Inter", sans-serif;
}

#footer .footer-top{
    padding: 30px 0 0;
    background: #FFA800;
    color: white;
}

#footer .footer-top h4{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    color: white;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li{
    padding-right: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child{
    padding: 0;
}

#footer .footer-top .footer-links ul li a{
    color: white;
    line-height: 2;
    text-decoration: none;
}

#footer .footer-top .footer-links ul li a:hover{
    border-radius: 5px;
    font-weight: bolder;
    text-decoration-line: underline;
}

#footer .copyright{
    font-weight: lighter;
    font-size: 12px;
    line-height: 1;
    /* float: left; */
}

#footer .credits{
    /*float: right; */
    font-weight: lighter;
    font-size: 12px;
}

#footer .footer-bajo a{
    color: white;
}

#footer .footer-bajo a:hover{
    border-radius: 5px;
    font-weight: bolder;
}

/* navbar-categoria */
#navbar-categoria{
    background-color: #fff;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 2px 5px;
}

#navbar-categoria .text{
    font-size: 18px;
    font-weight: bolder;
}




/* NAVBAR MENU START*/

/* Ancho fijo para el menú de categorías */
#menuLateral {
    width: 250px; /* Ancho del menú de categorías */
}

#menuLateral .offcanvas-header{
    background: #EEEDED;
    border-top: 6px solid #FFC107;
}

#menuLateral .offcanvas-header button{
    font-size: 13px;
    margin-bottom: 0px;
}

/* Ancho mayor para el submenú de empresas para mostrar 3 columnas */
#subMenu1 {
    width: 700px; /* Ancho suficiente para mostrar 3 empresas en cada fila */
}

/* Estilos generales */
.offcanvas-body ul li {
    padding: 0.5rem 0;
}

.category-link {
    display: block;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-left: 4px solid transparent;
}

.category-link:hover {
    background-color: #f0f0f0;
    border-left: 4px solid #ffa500; /* Cambia el color según tus necesidades */
}

/* OPCIONES DE EMPRESAS*/

#subMenu1 .conten_cabezera{
    background: rgb(255,168,0);
    background: linear-gradient(90deg, rgba(255,168,0,1) 0%, rgba(255,216,142,1) 100%);
    padding: 1%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 50px;
}

#subMenu1Label{
    color: white;
    font-size: 23px;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    position: relative;
    padding-left: 15%;
}

/* Ajustes para mostrar tres columnas de empresas */
.company-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Espaciado entre las columnas */
}

/* Flexbox para las empresas dentro de cada fila */
.company {
    flex: 1 1 30%; /* Ajustamos para que ocupe 30% del espacio, permitiendo tres columnas */
}

/* Estilos de la empresa */
.company h6 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 15px;
}

.company a {
    display: block;
    color: #555;
    text-decoration: none;
    margin-bottom: 0.25rem;
    font-size: 13px;
}

.company a:hover {
    color: #ffa500; /* Color de hover para enlaces */
}

@media (max-width: 768px) {
    .company {
        flex: 1 1 45%; /* Dos columnas para pantallas más pequeñas */
    }
    #subMenu1 .conten_cabezera{
        background: rgb(255,168,0);
        background: linear-gradient(90deg, rgba(255,168,0,1) 0%, rgba(255,216,142,1) 100%);
        padding: 1%;
        width: 280px;
    }
    
    #subMenu1Label{
        color: white;
        font-size: 20px;
        font-family: "Inter", sans-serif;
        font-weight: bolder;
        position: relative;
        padding-left: 10%;
    }
}

@media (max-width: 480px) {
    .company {
        flex: 1 1 100%; /* Una columna para pantallas muy pequeñas */
    }
}

/* SideBar MENU START */



#MenuStart{
    font-size: 16px;
    font-family: "Inter", sans-serif;
}


#MenuStart .menu-text{
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

@media (max-width:991px){
    #MenuStart .opcion-nav{
        font-size: 10px;
        flex-wrap:nowrap
    }
    #MenuStart .menu-text{
        font-size: 10px;
    }
} 

/* CONTENEDOR PAGO */

.procepago {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: "Inter", sans-serif;
}

.container h3{
    margin-bottom: 20px;
}


.container .left-column {
    /*background-color: #fff; */
    padding: 20px;
    border-radius: 8px;
    width: 65%; /* Ajusta el ancho a 65% para hacerlo más amplio */
}

.container .right-column {
    /*background-color: #fff; */
    padding: 20px;
    border-radius: 8px;
    width: 30%; /* Ajusta el ancho a 30% para hacerlo más estrecho */
}

.container .left-column .delivery-options, .payment-method, .summary-box {
    background-color: #f8f8f8;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.container .left-column .delivery-options h4, .payment-method h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

        /* Check Ratio */

.form-check-input[type="radio"] {
    /* Estilo general del radio button */
    appearance: none; /* Oculta el radio button predeterminado */
    width: 20px;
    height: 20px;
    background-color: #f9f9f9; /* Color de fondo gris claro */
    border: 2px solid #171717; /* Borde gris oscuro */
    border-radius: 50%; /* Forma circular */
    margin-right: 10px; /* Espacio entre el radio y el texto */
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.form-check-input[type="radio"]:checked {
    /* Estilo cuando está seleccionado */
    background-color: white; /* Fondo blanco para resaltar */
    border: 2px solid #171717; /* Borde gris oscuro para el seleccionado */
}

.form-check-input[type="radio"]:checked::before {
    /* Punto central del radio button cuando está seleccionado */
    content: '';
    display: block;
    width: 10px; /* Tamaño del punto central */
    height: 10px;
    background-color: #292929; /* Color gris oscuro del punto */
    border-radius: 50%; /* Forma circular */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-check-label {
    margin-left: 5px; /* Separación entre radio button y texto */
    font-size: 14px;
    color: #171717;
}
        /* Check Ratio */

.container .left-column .option .price {
    margin-left: auto;
    font-weight: bold;
    color: #4CAF50;
}

.container .left-column .delivery-options a {
    font-size: 15px;
    color: #636363;
}

.container .left-column .delivery-options .form-check p{
    font-size: 16px;
}

.container .left-column .payment-method img {
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.container .left-column .payment-method a {
    float: right;
    font-size: 14px;
    color: #333;
}

.container .right-column .summary-box .products a{
    color: #1a1a1a;
    font-size: 14px;
}

.container .right-column .summary-box a{
    color: #1a1a1a;
}

.container .right-column .coupon a{
    color: #1a1a1a;
    margin-left: 10px;
}


.container .right-column .product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container .right-column .product-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 4px;
}

.container .right-column .product-info p {
    margin: 0;
    font-size: 14px;
}

.container .right-column .product-price {
    margin-left: auto;
    font-weight: bold;
    font-size: 14px;
}

.container .right-column .coupon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.container .right-column .totals .total-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.container .right-column .total {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.container .right-column .checkbox-container {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 13px;
}

.container .right-column .checkbox-container input {
    margin-right: 8px;
    margin-top: 3px;
}

.container .right-column .pay-btn {
    width: 100%;
    padding: 10px;
    background-color: #30313D;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.container .right-column .pay-btn:hover {
    background-color: #101117;
}

/* LINEA DE PASOS*/
.step-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2; /* Ensure steps are above the line */
}

.step a{
    text-decoration: none;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    z-index: 2; /* Asegura que esté sobre la línea */
}

.circle.active {
    background-color: black;
    color: white;
}

.line {
    position: absolute;
    top: 45%;
    left: 15px;
    right: 15px;
    height: 2px;
    background-color: black;
    z-index: 1; /* Línea detrás de los círculos */
}



/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .procepago {
        flex-direction: column;
    }

    .container .left-column,
    .container .right-column {
        width: 100%; /* Ambas columnas ocupan el 100% del ancho */
    }

    .container .left-column {
        margin-bottom: 20px; /* Espacio entre columnas */
    }

    /* Ajuste de tamaño de texto para mejor legibilidad en móvil */
    .container h3 {
        font-size: 20px;
    }

    .container .left-column .delivery-options h4,
    .container .left-column .payment-method h4 {
        font-size: 16px;
    }

    .container .left-column .delivery-options .form-check p{
        font-size: 14px;
        padding-right: 12px;
    }

    .container .left-column .delivery-options p{
        font-size: 12px;
    }

    .container .right-column .product-info p,
    .container .right-column .product-price,
    .container .right-column .totals .total-row p {
        font-size: 14px;
    }

    .container .right-column .summary-box .products a,
    .container .right-column .coupon a {
        font-size: 14px;
    }

    .container .right-column .checkbox-container {
        font-size: 12px;
    }

    .container .right-column .pay-btn {
        font-size: 15px;
    }
}